<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:int-mqtt="http://www.springframework.org/schema/integration/mqtt"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.3.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/integration/mqtt http://www.springframework.org/schema/integration/mqtt/spring-integration-mqtt-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.austen.*" />
    <mvc:annotation-driven/>

    <bean id="clientFactory"
          class="org.springframework.integration.mqtt.core.DefaultMqttPahoClientFactory">
        <property name="userName" value="admin" />
        <property name="password" value="public" /><property name="connectionTimeout" value="10"/>
        <property name="keepAliveInterval" value="20"/>
        <property name="serverURIs">
            <array>
                <value>tcp://localhost:1883</value>
            </array>
        </property>
    </bean>

    <bean id="mqttHandler" class="org.springframework.integration.mqtt.outbound.MqttPahoMessageHandler">
        <constructor-arg name="clientId" value="mqttTestClient1"/>
        <constructor-arg name="clientFactory" ref="clientFactory"/>
        <property name="defaultQos" value="1"/>
        <property name="defaultRetained" value="true"/>
    </bean>


    <!-- 消息适配器  -->
    <int-mqtt:message-driven-channel-adapter
            id="mqttInbound" client-id="mqttTestClient1" url="tcp://localhost:1883"
            topics="topicTest1"
            qos="1"
            client-factory="clientFactory"
            auto-startup="true"
            send-timeout="12"
            channel="startCase" />

    <int:channel id="startCase" />

    <!-- 消息处理类 -->
    <int:service-activator id="startCaseService"
                           input-channel="startCase" ref="mqttCaseService" method="startCase" />

    <bean id="mqttCaseService" class="com.austen.service.MqttService" />

</beans>
